include cluster.pug
include grammar_error.pug
include groups.pug
include help.pug
include spreadsheet.pug
include staff.pug
include table.pug

mixin dispatch(value)
  if value.data === null
    i= "null"
  else
    if value.type == 'Error'
      pre= JSON.stringify(value.data, null, 2)
    if value.type == 'InputParseError'
      +inputParseError(value.data)
    if value.type == 'GrammarParseError'
      +grammarParseError(value.data)
    if value.type == 'Exception'
      pre= value.data
    if value.type == 'Table'
      +table(value.data)
    if value.type == 'String'
      div= value.data
    if value.type == 'Number'
      div= value.data
    if value.type == 'Boolean'
      div= value.data.toString()
    if value.type == 'Header'
      h3= value.data
    if value.type == 'ClusteringResult'
      +clusters(value.data)
    if value.type == 'GroupAssignmentResult'
      +groups(value.data)
    if value.type == 'ReadSpreadsheetResult'
      +spreadsheet(value.data)
    if value.type == 'StaffAssignmentResult'
      +staff(value.data)
    if value.type == 'Multi'
      each data in value.data
        +dispatch(data)
    if value.type.startsWith('Array<')
      each data in value.data
        +dispatch({ type: value.type.substr(6, value.type.length - 7), data: data })
    if value.type == 'Person'
      div= value.data.name
    if value.type == 'ListFunctionsOutput'
      +list_functions(value.data)
    if value.type == 'FunctionHelp'
      +help(value.data)
    if value.type == 'DateTime'
      div= value.data.toLocaleString(fn.DateTime.DATETIME_MED)
    if value.type == 'Date'
      div= value.data.toLocaleString(fn.DateTime.DATE_FULL)
    if value.type == 'Event'
      div= value.data.eventId
