mixin list_functions(data)
  h3 Built-in Functions
  ul
    each fn in data
      li
        a(href=`?script=Help("${fn}")`)= fn

mixin help(data)
  each fn in data
    h3= fn.name
    if fn.docs
      div= fn.docs
    if fn.genericParams !== undefined
      h4 Generics
      ul
        each generic in fn.genericParams
          li= generic
    if fn.args.length > 0
      h4 Args
      ul
        each arg in fn.args
          li= arg.name
            = ` (type: ${arg.type})`
            if arg.nullable
              | (nullable)
            if arg.defaultValue !== undefined
              = ` (default: ${arg.defaultValue})`
            if arg.canBeExternal
              | (can be external)
            if arg.repeated
              | (repeated)
            if arg.lazy
              | (lazy)
    h4 Return Type
    ul
      li= fn.outputType
    if fn.mutations
      h4 Mutations
      ul
        each mutation in fn.mutations
          li= mutation

mixin spreadsheet(data)
  if data.warnings.length > 0
    p
      = data.warnings.length + ' warnings'
      ul
        each warning in data.warnings
          li= warning
  = 'Loaded ' + data.loaded + ' people'
