include dispatch.pug
html
  head
    title Compscript
    style
      include script.css
    link(rel='stylesheet', href='/cubing-icons.css')
    script
      include script.js
  body
    h1
      a(href='/' + comp.id)= comp.name
      = " Compscript"
    include error.pug
    div(id='competitionId' data-competitionId=comp.id style='display:none')
    form(method='POST')
      h3= "Execute saved script"
      if files.length
        select(name='filename')
          option()
          each file in files
            option(value=file selected=(file === selectedFile))= file
      br
      h3= "Run custom script"
      textarea(name='script' cols=100 rows=10)= script
      br
      label
        input(type='checkbox' name='dryrun' checked=dryrun)
        = "Dry Run"
      label
        input(type='checkbox' name='clearCache' checked=clearCache)
        = "Clear Cache"
      br
      input(type='submit')
    if dryrunWarning
      p
        i Note: this was a dry run, so no changes were made.
    br
    each output in outputs
      div
        +dispatch(output)
