mixin staff(data)
  h3= data.round.toString() + " Staff Assignments"
  each warning in data.warnings
    pre= JSON.stringify(warning, null, 2)
  table
    tr
      th Job
      each group in data.assignments.groups
        th= fn.parseActivityCode(group.activityCode).groupName
    each jobName in Object.keys(data.assignments.jobs)
      tr
        td= jobName
        each group in data.assignments.groups
          td
            if group.activityCode in data.assignments.jobs[jobName]
              each subAssignment in data.assignments.jobs[jobName][group.activityCode]
                div= subAssignment.person.name + " (" + subAssignment.score.total + ")"
