mixin staff(data)
  h3= data.round.toString() + " Staff Assignments"
  each warning in data.warnings
    pre= JSON.stringify(warning, null, 2)
  table
    tr
      th Job
      each activity in data.assignments.activities
        th= activity.name()
    each jobName in Object.keys(data.assignments.jobs)
      tr
        td= jobName
        each activity in data.assignments.activities
          td
            if activity.wcif.id in data.assignments.jobs[jobName]
              each subAssignment in data.assignments.jobs[jobName][activity.wcif.id]
                div= subAssignment.person.name
